<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/user.css" />
    <title>Smile Task | login</title>
  </head>
  <body>
    <main class="main-login-form">
      <div class="form-login-container">
        <form class="container-inputs">
          <section class="inputs-title">
            <h2>Welcome Back</h2>
          </section>
          <section class="inputs">
            <p>¿No tienes cuenta? <a href="#">Registrarte</a></p>
            <div class="inputs-type">
              <input type="email" placeholder="Email" />
              <input type="password" placeholder="Password" />
            </div>
          </section>
          <section class="inputs-btn">
            <button type="submit" class="btn-login" id="btn_login">
              Login
            </button>
          </section>
        </form>
      </div>
    </main>
    <footer class="footer">
      <section class="footer-name">
        <h2>Smile Task</h2>
      </section>
      <section class="footer-rights">
        <p>
          &#169; 2022
          <a href="https://www.instagram.com/taurodev/" target="_blank"
            >Tauro Dev</a
          >. Todos los derechos reservados
        </p>
      </section>
      <section class="footer-terms">
        <div class="terms-condition">
          <a href="#">Terminos y condiciones</a>
          <p>|</p>
          <a href="#">Política de privacidad</a>
        </div>
      </section>
    </footer>
  </body>
</html>
