<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/css/mainEntry.css">
    <title>Smile Task | Registrar</title>
</head>
<body>
    <div class="containerLogin">
        <div class="containerReturn">
            <span class="returnHome" id="returnHome"><i class='bx bx-chevron-left'></i></span>
        </div>
        <div class="containerForm">
            <form>
                <h2 class="titleForm">Welcome to Smile Task</h2>
                <div class="containerInputs">
                    <div class="contentEmail alingContent">
                        <i class='bx bxs-user'></i>
                        <input type="text" placeholder="Email">
                    </div>
                    <div class="contentPassword alingContent">
                        <i class='bx bxs-lock' ></i>
                        <input type="password" placeholder="Password">
                    </div>
                </div>
                <div class="btnSubmit">
                    <button type="submit">Registrarme</button>
                    <a class="btnRegister" href="./login.html">Iniciar Sesión</a>
                </div>
            </form>
        </div>
    </div>


    <!-- incorporacion de script -->
    <script src="../assets/js/mainEntry.js"></script>
</body>
</html>