<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/user.css" />
    <title>Smile Task | Register</title>
  </head>
  <body>

    <main class="main-register-form">
      <div class="form-register-container">
        <form class="container-info">
          <section class="info-title">
            <div class="title-container">
              <p>EMPIEZA GRATIS</p>
              <h2 class="title">Crear una cuenta</h2>
              <p>¿Ya eres usuario? <a href="#">Ingresa aqui</a></p>
            </div>
          </section>
          <section class="info-inputs">
            <div class="inputs-required">
              <seciton class="personal-information">
                <input name="Nombre" placeholder="Nombre" />
                <input name="Apellido" placeholder="Apellido" />
              </seciton>
              <section class="profession-number">
                <input name="Profesion" placeholder="Profesion" />
                <input type="tel" placeholder="Celular" />
              </section>
              <input type="Email" placeholder="Email" />
              <input type="Password" placeholder="Password" />
            </div>
            <div class="inputs-checkpoint">
              <section class="terms">
                <a href="#">Terminos y condiciones</a>
                <p>|</p>
                <a href="#">Política de privacidad</a>
              </section>
              <section class="checkpoint">
                <input type="checkbox" required>
                <p>Acepto las politicas de uso en smile task</p>
              </section>
            </div>
          </section>
          <section class="inputs-btn-register">
            <button type="submit" class="btn-register" id="btn_register">
              Register
            </button>
          </section>
        </form>
      </div>
    </main>

    <!-- section footer -->
    <footer class="footer">
      <section class="footer-name">
        <h2>Smile Task</h2>
      </section>
      <section class="footer-rights">
        <p>
          &#169; 2022
          <a href="https://www.instagram.com/taurodev/" target="_blank"
            >Tauro Dev</a
          >. Todos los derechos reservados
        </p>
      </section>
      <section class="footer-terms">
        <div class="terms-condition">
          <a href="#">Terminos y condiciones</a>
          <p>|</p>
          <a href="#">Política de privacidad</a>
        </div>
      </section>
    </footer>
  </body>
</html>
